.formControl {
    width: 40%;
    margin-bottom: 30px !important;
    background-color:#151313;
    border-radius: 20px;
    height: 50px;
    padding: 20px 30px;
    font-family: 'Nunito Sans', 'sans-serif';
    font-size: 15px;
    color: #fff;
}
