$primary-color: #0688D5;
$body-text-color: #93969D;
$body-text-color-light: #eee;
$danger-color: #D01A0A;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;
$header-height:50px;
// rgba(27, 101, 246, 1); 
//1b65f6