@import 'https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700;800;900&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800;900&display=swap';
@import "reset";
@import "variable";

body {
  font-family: 'Nunito Sans', 'sans-serif';
  background: $primary-color;
}

*{
  box-sizing: border-box;
}

.app-layout {
  max-width: 1000px;
  margin: 0 auto;
  @media (min-width: $screen-md){
    padding: 100px 50px 50px 50px;
  }
}

.app-container {
  position: relative;
  overflow: hidden;
  
  .app-header {
    
  }
  .app-content {
    
  }
  @media (min-width:$screen-md){
    .app-header{
      float: left;
    }
    .app-content{
      float: right
    }
  }
}