@import 'https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400;600;700;800;900&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;700;800;900&display=swap';
@import "reset";
@import "variable";

.text-uppercase{
  text-transform: uppercase;
}

body {
  font-family: 'Nunito Sans', 'sans-serif';
  background: $primary-color;
  color: $body-text-color;
  font-size: 14px;
}

*{
  box-sizing: border-box;
} 

.app-layout {
  max-width: 1000px;
  margin: 0 auto;
  @media (min-width: $screen-md){
    padding: 100px 50px 50px 50px;
  }
}

.app-container {
  position: relative;
  overflow: hidden;
  padding: 20px 0 0 0 ;
  .app-header {
    color: #fff;
    padding-bottom: 30px;
    .app-site-info{
      color: #fff;
      h1{
        margin: 0;
        padding: 0;
        font-size:60px;
        font-weight: 800; 
      }
      .site-title{
        margin: 10px 0 0 0;
        padding: 0;
        font-size: 50px;
        font-weight: 200;
        color: #eee;
        font-family: 'Montserrat', sans-serif;
      }
      .site-slogan{
        margin-top: 10px;
        font-size: 30px;
        padding:0;
        font-family: 'Montserrat', sans-serif;
      }
    }
  }
  .app-content {
    
  }
  @media (min-width:$screen-md){
    .app-header{
      float: left;
      padding-top:100px
    }
    .app-content{
      float: right
    }
  }
}

.app-card {
  background-color: #fff;
  border-radius: 5px;
  position: relative;
  overflow: hidden;

  @media (min-width:$screen-sm){
    width:350px
  }

  .app-card-header{
    background-color: #f6f6f6;
    .app-card-header-inner{
      padding:20px
    }
  }
  .app-card-content{
    .app-card-content-inner{
      padding:20px
    }
  }
}

.app-file-select-zone{
  width:100%;
  display:block;
  text-align: center;
  label{
    width:100%;
    display:block;
    input{
      position: fixed;
      top:-9999px;
    }
  }
  .app-upload-description{
    font-size: 12px;
    display: block;
  }
  .app-upload-icon{
    width: 80px;
    height: 40px;
    border: 1px dashed $body-text-color;
    display: inline-block;
    margin-bottom: 10px;
    border-radius: 3px;
  }
}

.app-form-item{
  margin: 0 0 15px 0;
  label{
    text-transform: uppercase;
    display: block;
    font-weight: 600;
    margin: 0 0 8px 0;
    font-size: 11px;
  }
  input[type=text],textarea{
    width: 100%;
    outline: 0 none;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size:12px;
    border-radius: 5px;
    border: 1px solid #d3d3d3;
    &:focus,:active{
      outline: 0 none;
    }
  }
  textarea{
    min-height: 50px;
  }
}

.app-form-actions{
  .app-button{
    width: 100%;
    text-align: center;
    display: block;
    border-radius: 5px;
    border: 1px solid $primary-color;
    padding: 7px 15px;
    font-weight: 600;
    color: $primary-color;
    background:#fff;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    &.primary{
      color: #fff;
      background: $primary-color;
    }
  }
}

.app-files-selected{
  background-color: #fff;
  position: relative;
  margin: -20px -20px 20px -20px;
  padding: 20px;
  overflow-y: auto;
  max-height: 150px;
  .app-files-selected-item{
    display: flex;
    border-bottom: 1px solid rgba(0,0,0,.09);
    padding: 10px 0;
    .filename{
      flex-grow: 1;
      font-family: 'Montserrat', sans-serif;
      font-size: 11px;
      color: $body-text-color;
    }
    .file-action{
      
    }
  }
  .app-file-remove{
    border: 0 none;
    padding:3px;
    background-color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: $body-text-color;
    width:20px;
    height: 20px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
  }
  .app-file-remove:hover{
    background-color:#F1210F2a;
  }
  
}