@import 'https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400;600;700;800;900&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;700;800;900&display=swap';
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Nunito Sans", "sans-serif";
  background: #1b65f6;
  color: #ababab;
  font-size: 14px;
}

* {
  box-sizing: border-box;
}

.app-layout {
  max-width: 1000px;
  margin: 0 auto;
}
@media (min-width: 992px) {
  .app-layout {
    padding: 100px 50px 50px 50px;
  }
}

.app-container {
  position: relative;
  overflow: hidden;
}
.app-container .app-header {
  color: #fff;
}
.app-container .app-header .app-site-info {
  color: #fff;
}
.app-container .app-header .app-site-info h1 {
  margin: 0;
  padding: 0;
  font-size: 60px;
  font-weight: 800;
}
.app-container .app-header .app-site-info .site-title {
  margin: 10px 0 0 0;
  padding: 0;
  font-size: 50px;
  font-weight: 200;
  color: #eee;
  font-family: "Montserrat", sans-serif;
}
.app-container .app-header .app-site-info .site-slogan {
  margin-top: 10px;
  font-size: 30px;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
@media (min-width: 992px) {
  .app-container .app-header {
    float: left;
  }
  .app-container .app-content {
    float: right;
  }
}

.app-card {
  background-color: #fff;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}
@media (min-width: 768px) {
  .app-card {
    width: 350px;
  }
}
.app-card .app-card-header {
  background-color: #f6f6f6;
}
.app-card .app-card-header .app-card-header-inner {
  padding: 20px;
}
.app-card .app-card-content .app-card-content-inner {
  padding: 20px;
}

.app-file-select-zone {
  width: 100%;
  display: block;
  text-align: center;
}
.app-file-select-zone label {
  width: 100%;
  display: block;
}
.app-file-select-zone label input {
  position: fixed;
  top: -9999px;
}
.app-file-select-zone .app-upload-description {
  font-size: 12px;
  display: block;
}
.app-file-select-zone .app-upload-icon {
  width: 80px;
  height: 40px;
  border: 1px dashed #ababab;
  display: inline-block;
  margin-bottom: 10px;
  border-radius: 3px;
}

.app-form-item {
  margin: 0 0 15px 0;
}
.app-form-item label {
  text-transform: uppercase;
  display: block;
  font-weight: 600;
  margin: 0 0 8px 0;
  font-size: 11px;
}
.app-form-item input[type=text], .app-form-item textarea {
  width: 100%;
  outline: 0 none;
  padding: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  border-radius: 5px;
  border: 1px solid #d3d3d3;
}
.app-form-item input[type=text]:focus, .app-form-item input[type=text] :active, .app-form-item textarea:focus, .app-form-item textarea :active {
  outline: 0 none;
}
.app-form-item textarea {
  min-height: 50px;
}

.app-form-actions .app-button {
  width: 100%;
  text-align: center;
  display: block;
  border-radius: 5px;
  border: 1px solid #1b65f6;
  padding: 7px 15px;
  font-weight: 600;
  color: #1b65f6;
  background: #fff;
  font-family: "Montserrat", sans-serif;
}
.app-form-actions .app-button.primary {
  color: #fff;
  background: #1b65f6;
}

/*# sourceMappingURL=app.css.map */
