html body {
    margin: 0;
    padding: 0;
    text-decoration: none;
    min-height: 100vh;

    --fontFamily : 'Raleway', sans-serif;
    --primaryColor : mediumblue;
    --lightGrey : #eeeeee;
    --dangerColor : #DE1407;
    --mainDark: #434343;
    --grey: #ababab;
}

#root {
    height: 100vh;
    justify-content: center;
}

a {
    text-decoration: none;
}

.container {
    padding: 0 10%;
    box-sizing: border-box;
    height: 100%;
}

.two-part-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    align-items: center;
}

.half-container {
    width: 50%;
    height: 100%;
}

.btn {
    min-width: 80px;
    height: 40px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    padding: 8px 10px 10px 0px;
    box-sizing: border-box;
    /* justify-content: space-between; */
    cursor: pointer;
    color: white;
    font-family: var(--fontFamily);
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 1px;
    border: 2.5px solid transparent;
    transition: 0.2s ease-in-out;
}
.btn * {
    margin: auto auto;
}
.btn.no-icon {
    display: block;
    padding: 8px 10px 10px 10px;
}
.btn * {
    padding: 0 8px;
}

.btn-icon {
    color: white;
}


.btn:hover .btn-icon {
    color: var(--primaryColor);
    transition: 0.2s ease-in-out;
}

.btn:hover .btn-icon-danger {
    color: var(--dangerColor);
    transition: 0.2s ease-in-out;
}

.primary {
    background-color: var(--primaryColor);
}

.danger {
    background-color: var(--dangerColor);
}

.primary:hover {
    background-color: transparent;
    border: 2.5px solid var(--primaryColor);
    transition: 0.2s ease-in-out;
    color: var(--primaryColor);
    transition: 0.2s ease-in-out;
}

.danger:hover {
    background-color: transparent;
    border: 2.5px solid var(--dangerColor);
    transition: 0.2s ease-in-out;
    color: var(--dangerColor);
    transition: 0.2s ease-in-out;
}


.form-field {
    display: flex;
    flex-direction: column;
    margin: 25px 0;
}

.form-field label {
    font-family: var(--fontFamily);
    font-weight: 600;
    font-size: 16px;
}
.form-field input {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid var(--lightGrey);
    height: 40px;
    font-family: var(--fontFamily);
    font-size: 20px;
    font-weight: 600;
    transition: 0.2s ease-in-out;
    outline: 0 !important;
}
.form-field input:focus {
    border-bottom: 2px solid var(--primaryColor);
    transition: 0.2s ease-in-out;
}

.error-message {
    font-family: var(--fontFamily);
    font-size: 14px;
    font-weight: 600;
    color: var(--dangerColor);
    padding: 8px 0;
}

/* CSS FOR STREAMS */


.stream-item {
    display: flex;
    flex-direction: row;
    margin: 10px 0;
    justify-content: space-between;
}
.stream-item-title {
    font-family: var(--fontFamily);
    font-size: 25px;
    color: var(--mainDark);
    font-weight: 600;
    margin: 10px 0;
}
.stream-item-description {
    font-family: var(--fontFamily);
    font-size: 20px;
    color: var(--grey);
    font-weight: 500;
    margin: 0;
}
.admin-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.admin-buttons button {
    margin: 5px;
}