@import './app.css';

.modal-background {
    width: 100vw;
    height: 100vh;
    background-color: #0000003a;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}

.modal-content-container {
    min-width: 30vw;
    min-height: 30vh;
    background-color: white;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 20px;
    z-index: 101;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.modal-content-container h2 {
    font-family: var(--fontFamily);
    font-size: 25px;
    color: var(--mainDark);
    font-weight: 700;
    margin: 0;
    text-align: center;
}

.modal-content-container p {
    font-family: var(--fontFamily);
    font-size: 17px;
    color: var(--grey);
    font-weight: 500;
    margin: 0;
    text-align: center;
}

.modal-actions{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}
.modal-actions * {
    margin: 0 5px;
}